<ion-pane>
  <ion-header-bar class="bar-stable bar-dark">
    <h1 class="title">Home</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <h2>Todo App for Assignment 2</h2>
    <p>
    This is a Ionic SPA app.
    </p>

    <p>
    There is navigation at the bottom of the page to navigate pages.
    </p>

    <p>
    This is just the welcome screen, the todo page is <a href="#/todo">here</a>.
    </p>

    <p>
      To add a new todo item, click the top left icon on the todo page.
    </p>


  </ion-content>
  <div class="tabs tabs-dark   tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-home"></i>
      Home
    </a>
    <a href="#/todo" class="tab-item">
      <i class="icon ion-star"></i>
      Todos
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</ion-pane>
